/* src/assets/css/style.css */
/* 라인 시드체 */
@font-face {
  font-family: "LINESeedKR-Bd";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}
/* 수트체 */
@font-face {
  font-family: "SUIT-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "SUIT-Regular";
  font-size: 1.2rem;
}
a {
  display: block;
  width: 100%;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.font-colorA {
  font-family: "LINESeedKR-Bd";
  color: #2272ec;
}
.nav-item a {
  font-family: "LINESeedKR-Bd";
}
.snb {
  font-family: "LINESeedKR-Bd";
  text-align: left;
  font-size: 1rem;
}
.nav-item + .nav-item {
  margin-left: 1em;
}
.container {
  text-align: center;
}
[class^="col"] {
  min-height: 60vh;
  background: linear-gradient(to right bottom, transparent 0%, #eee 100%);
}
